body{
    margin: 0;
    padding: 0;
    text-align: center;
    }

thead{
    background-color: black;
    color:white
}
table{
    width: 80%;
   margin-left: 10%;
   margin-right: 10%;
}
tr{
    border: solid 1px black;
}
td{
    border:solid 1px black;
    width: 33%;
    height: 20px;
}
